@charset "utf-8";


/* body */
body {background:#000;font-family:'kufam';font-size:16px;color:#fff;}
.en {font-family: 'Lily script one';}
.ko {font-family: 'NanumSquareRound';}

.wrap {width:100%;height:100%;position:relative;overflow: hidden;background: #000;color:#fff;}

.band {margin:150px 0;position:relative;height:250px;}
.band .down {transform:rotate(5deg);position:absolute;bottom:20px;left:-50px;}
.band .up {transform:rotate(-3deg);position:absolute;bottom:50px;left:-50px;}

.band_ {margin:300px 0 150px;position:relative;height:250px;}
.band_ .down {transform:rotate(5deg);position:absolute;bottom:20px;left:-50px;}
.band_ .up {transform:rotate(-3deg);position:absolute;bottom:50px;left:-50px;}

.band_2 {margin:150px 0;position:relative;height:250px;}
.band_2 .down {transform:rotate(5deg);position:absolute;bottom:20px;left:-50px;}
.band_2 .up {transform:rotate(-3deg);position:absolute;bottom:50px;left:-50px;}

/* header */
header {width:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,.5);z-index:50;padding:30px 60px;box-sizing:border-box;display:flex;justify-content:space-between;}

header.active {transform: translateY(-100%);}

header .logo {display:block;width:5%;transform:rotate(19deg);}
header .sideMenu {font-size:30px;}
header .sideMenu.on {display:none;}
.menuOpen {display:block;width:30%;height:100vh;background:rgba(51,51,51,.9);position:fixed;top:0;right:-100%;padding:250px 50px;transition:all .3s;z-index:51;}
.menuOpen.on {right:0%;transition:all .3s;}
.menuOpen > a > span {display:block;font-size:40px;position:absolute;top:3%;right:9%;color:#fff;}
.menuOpen .open {text-align:center;font-size:57px;line-height:1.5;width:100%;margin:0 auto;}


.menuOpen .open li a .char {display:inline-block;position:relative;color:transparent;overflow: hidden;}
.menuOpen .open li a .char::before,
.menuOpen .open li a .char::after {
    position:absolute;left:0;top:0;opacity:.6;color:#fff;content:attr(data-char);transition:transform .35s;transition-delay:calc(30ms * var(--char-index));
}
.menuOpen .open li a .char::before{transform:translateY(100%);}

.menuOpen .open li a:hover .char::before {transform:translateY(0%);opacity:1;}
.menuOpen .open li a:hover .char::after {transform:translateY(-100%);opacity:.6;}

.visual {width:100%;height:100vh;position:relative;padding-top:125px;box-sizing:border-box;letter-spacing:-2px;}
.visual .mainText {font-size:110px;font-weight:400;line-height:1.2;margin:80px 0 120px 160px;display:inline-block;}
.visual .mainText p {overflow: hidden;}
.visual .subText {margin-left:160px;font-size:40px;}
.visual .svgAni {position:absolute;right:5%; top:25%;width:50%;transform:rotate(3deg);}

.visual.motion .mainText {transform:translate3d(0,0,0) skewY(0deg);overflow: hidden;}
.visual.motion .mainText p span.i {display:block;animation-name:textAni;animation-duration:1.8s;font-style:italic;}
.visual.motion .mainText p span {display:block;animation-name:textAni;animation-duration:1.8s;}
.visual.motion .mainText p:nth-child(2) span {display:block;animation-name:textAni;animation-duration:1.7s;}
.visual.motion .mainText p:nth-child(3) span {display:block;animation-name:textAni;animation-duration:1.5s;}

.visual.motion .subText {animation-name:textAni2;animation-duration:2.3s;}

@keyframes textAni {
    0% {opacity:0;}
    30% {opacity:0;transform:translate3d(0,-90px,0) skewY(-10deg);transform-origin:top left;}
}

@keyframes textAni2 {
    0% {opacity:0;}
    30% {opacity:0;}
}

.visual.motion #svgAni06 {stroke-dasharray:72;stroke-dashoffset:72;animation:ani6 .5s linear 1.3s forwards;}
.visual.motion #svgAni04 {stroke-dasharray:2759;stroke-dashoffset:2759;animation:ani4 2s linear 1.8s forwards;}
.visual.motion #svgAni05 {stroke-dasharray:1332;stroke-dashoffset:1332;animation:ani5 .5s linear 1s forwards;}


@keyframes ani4 {
    0% {stroke-dasharray:2761;}
    100% {stroke-dashoffset:0;}
}

@keyframes ani5 {
    0% {stroke-dasharray:1334;}
    100% {stroke-dashoffset:0;}
} 

@keyframes ani6 {
    0% {stroke-dasharray:72;}
    100% {stroke-dashoffset:0;}
}


/* about */
.about {width:100%;height:100%;position:relative;padding:0 260px;}
.about .subTitle {margin-top:45px;margin-bottom:100px;}
.about .subTitle p {font-size:30px;letter-spacing:-1px;padding-top:50px;}
.about .subTitle p .img {width:30px;height:30px;display:inline-block;}
.about .subTitle p .img img {width:100%;}
.about .top ul{display:flex;justify-content:space-between;margin-bottom:100px;}
.about .top ul .left {width:37%;border-radius:30px;margin:20px;overflow:hidden;}
.about .top ul .left img {width:100%;}
.about .top ul .right {font-size:22px;width:58%;position:relative;line-height:1.4;}
.about .top ul .right p{position:absolute;top:56%;left:0;}
.about .top ul .right p span {margin-bottom:20px;display:block;}

.about .top ul .right p.motion {animation:aboutAni;animation-duration:1.5s;transition:all .3s;}

@keyframes aboutAni {
    0% {opacity:0;}
    20% {opacity:0;}
    100% {opacity:1;}
}

.about .bottom p {font-size:30px;position:relative;margin-bottom:25px;}
.about .bottom p::after {content: '';position:absolute;top:35px;left:0;width:250px;height:1px;background:#fff;}
.about .bottom > span {font-size:24px;display:inline-block;margin-right:30px;margin-bottom:50px;}
.about .bottom .profile {display:flex;flex-wrap:wrap;}
.about .bottom .profile li {width:50%;margin-bottom:50px;}
.about .bottom .profile li span {font-size:24px;display:block;margin-bottom:15px;}
.about .bottom .profile li span.ko {font-weight:500;}
.about .bottom .profile li:nth-child(odd) {width:60%;}
.about .bottom .profile li:nth-child(even) {width:40%;}


.about .bottom.motion {animation:aboutAni2;animation-duration:2s;transition:all .3s;}

@keyframes aboutAni2 {
    0% {opacity:0;transform:translateY(50%);}
    100% {opacity:1;transform:translateY(0);}
}

/* history */
.history {width:100%;height:100%;position:relative;padding:0 260px;padding-bottom:100px;}
.history .subTitle {color:#444;margin-bottom:100px;}
.history .subTitle p {font-size:30px;letter-spacing:-1px;padding-top:100px;}
.history .subTitle p .st1 {stroke:#444}
.history .subTitle p .img {width:30px;height:30px;display:inline-block;}
.history .subTitle p .img img {width:100%;}

.history .dot{width:20px;height:20px;border-radius:50%;background:#f4c752;position:absolute;}
.history .dot::after{content:'';position:absolute;height:440px;width:1px;background:#444;top:40px;left:10px;}
.history .dot.a {top:7.9%;left:50.1%;transform:translateX(-50.1%);}
.history .dot.b {top:22.8%;left:50.1%;transform:translateX(-50.1%);}
.history .dot.c {top:37.8%;left:50.1%;transform:translateX(-50.1%);}
.history .dot.d {top:52.8%;left:50.1%;transform:translateX(-50.1%);}
.history .dot.e {top:67.8%;left:50.1%;transform:translateX(-50.1%);}
.history .dot.f {top:82.7%;left:50.1%;transform:translateX(-50.1%);}


.history .timeline {width:100%;display:flex;justify-content:space-between;flex-wrap:wrap;}
.history .timeline li {margin-bottom:420px;width:50%;position:relative;}
.history .timeline li:nth-child(odd){text-align:right;padding-right:50px;}
.history .timeline li:nth-child(odd) .textBox {margin-right:35px;}
.history .timeline li:nth-child(even) {margin-top:500px;margin-bottom:0;padding-left:50px;}
.history .timeline li:nth-child(even) .textBox {margin-left:35px;}
.history .timeline li .img {margin-bottom:15px;}
.history .timeline li p {font-size:30px;margin-bottom:30px;font-weight:500;}
.history .timeline li span {font-size:22px;font-weight:500;line-height:1.4;}
.history .timeline li:nth-child(odd) .timeImg {margin-right:100px;margin-top:30px;width:100%;}
.history .timeline li:nth-child(even) .timeImg {margin-top:30px;width:100%;}
.history .timeline li:nth-child(1) .timeImg img {filter:brightness(70%);}
.history .timeline li:nth-child(2) .timeImg img {filter:brightness(70%);}

.history .timeline li .timeImg.motion {animation: imgAni;animation-duration: 1.5s;}

@keyframes imgAni {
    0%{opacity:0;transform:translateY(50%);}
    100%{opacity:1;}
}
.history .now {position:absolute;bottom:-150px;left:50%;transform:translateX(-50%);}
.history .now p {font-size:70px;text-align:center;font-weight:bold;}
.history .now p span {font-size:50px;font-style:italic;}


/* volunteer */

.volunteer {width:100%;height:100%;position:relative;padding:0 100px 250px;}
.volunteer .subTitle {margin-top:45px;margin-bottom:100px;padding-left:160px;position:relative;z-index:1;}
.volunteer .subTitle p {font-size:30px;letter-spacing:-1px;padding-top:50px;}
.volunteer .subTitle p .img {width:30px;height:30px;display:inline-block;}
.volunteer .subTitle p .img img {width:100%;}
.volunteer .textBox {font-size:22px;padding-left:160px;line-height:1.4;position:relative;z-index:1;}
.volunteer .photo {width:100%;font-size:200px;text-align:center;line-height:.9;opacity:1;color:#888;position:fixed;top:30%;left:0;z-index:0;}
/* .volunteer .photo {width:100%;font-size:200px;text-align:center;line-height:.9;opacity:0;transition:all .3s;color:#888;} */
/* .volunteer .photo.on {position:fixed;top:30%;left:0;z-index:0;opacity:1;transition:all .3s;} */
.volunteer .photoList {position:relative;z-index:1;;width:100%;padding-left:150px;display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:300px;}
.volunteer .photoList li {width:50%;margin-top:500px;}
.volunteer .photoList li:nth-child(odd) {margin-top:0;}
.volunteer .photoList li .imgBox {width:85%;}
.volunteer .photoList li .imgBox img {width:100%;}
.volunteer .photoList li .txt {margin-top:20px;}
.volunteer .photoList li .txt h3 {font-size:30px;letter-spacing:-2px;margin-bottom:5px;}
.volunteer .photoList li .txt span {font-size:22px;letter-spacing:-1px;}


/* skill */

.skill {width:100%;height:100%;position:relative;padding:0 200px;margin-bottom:200px;}
.skill .subTitle {color:#444;margin-bottom:150px;padding-left:60px;}
.skill .subTitle p {font-size:30px;letter-spacing:-1px;padding-top:100px;}
.skill .subTitle p .st1 {stroke:#444}
.skill .subTitle p .img {width:30px;height:30px;display:inline-block;}
.skill .subTitle p .img img {width:100%;}
.skill .skillSvg {width:100%;display:flex;flex-wrap:wrap;margin:0 auto;position:relative;}
.skill .skillSvg li {width:50%;margin-bottom:100px;}
.skill .skillSvg li svg {width:35%;}
.skill .skillSvg li:nth-child(even) svg {margin-left:50px;}
.skill .skillSvg li:nth-child(4) svg {width:26%;}
.skill .skillSvg li:nth-child(5) svg {width:29%;}
.skill .skillSvg li:nth-child(6) svg  {width:21.5%;margin-left:11%;}


.skill .skillSvg .skillTxt {width:100%;display:flex;flex-wrap: wrap;margin:0 auto;position:absolute;top:9%;left:15%;}
.skill .skillSvg .skillTxt li {width:50%;margin-bottom:200px;}
.skill .skillSvg .skillTxt li:nth-child(1){color:#e44d26}
.skill .skillSvg .skillTxt li:nth-child(2){color:#A259FF}
.skill .skillSvg .skillTxt li:nth-child(3){color:#379AD6}
.skill .skillSvg .skillTxt li:nth-child(4){color:#379AD6}
.skill .skillSvg .skillTxt li:nth-child(5){color:#F4C752}
.skill .skillSvg .skillTxt li:nth-child(6){color:#FF9213}
.skill .skillSvg .skillTxt li:nth-child(1) p::after{background:#e44d26}
.skill .skillSvg .skillTxt li:nth-child(2) p::after{background:#A259FF}
.skill .skillSvg .skillTxt li:nth-child(3) p::after{background:#379AD6}
.skill .skillSvg .skillTxt li:nth-child(4) p::after{background:#379AD6}
.skill .skillSvg .skillTxt li:nth-child(5) p::after{background:#F4C752}
.skill .skillSvg .skillTxt li:nth-child(6) p::after{background:#FF9213}
.skill .skillSvg .skillTxt li:nth-child(odd) {width:40%;}
.skill .skillSvg .skillTxt li:nth-child(even) {width:40%;margin-left:200px;}
.skill .skillSvg .skillTxt li p {font-size:38px;margin-bottom:10px;position:relative;}
.skill .skillSvg .skillTxt li p::after {content:'';width:450px;height:2px;background:#000;position:absolute;bottom:5px;left:0;}
.skill .skillSvg .skillTxt li span {display:block;margin-left:130px;font-size:20px;letter-spacing:-1px;line-height:1.4;font-weight:600;}




.skill.motion .skillSvg #html {stroke-dasharray:728;stroke-dashoffset:728;animation:skillAni1 1s linear .3s forwards;}
.skill.motion .skillSvg #figma {stroke-dasharray:727;stroke-dashoffset:727;animation:skillAni2 1s linear .3s forwards;}
.skill.motion .skillSvg #css {stroke-dasharray:727;stroke-dashoffset:727;animation:skillAni3 1s linear .3s forwards;}
.skill.motion .skillSvg #ps {stroke-dasharray:528;stroke-dashoffset:528;animation:skillAni4 1s linear .3s forwards;}
.skill.motion .skillSvg #js {stroke-dasharray:570;stroke-dashoffset:570;animation:skillAni5 1s linear .3s forwards;}
.skill.motion .skillSvg #ill {stroke-dasharray:445;stroke-dashoffset:445;animation:skillAni6 1s linear .3s forwards;}


@keyframes skillAni1 {
    0% {stroke-dasharray:728;}
    100% {stroke-dashoffset:0;}
}

@keyframes skillAni2 {
    0% {stroke-dasharray:727;}
    100% {stroke-dashoffset:0;}
}

@keyframes skillAni3 {
    0% {stroke-dasharray:727;}
    100% {stroke-dashoffset:0;}
}

@keyframes skillAni4 {
    0% {stroke-dasharray:528;}
    100% {stroke-dashoffset:0;}
}

@keyframes skillAni5 {
    0% {stroke-dasharray:570;}
    100% {stroke-dashoffset:0;}
}

@keyframes skillAni6 {
    0% {stroke-dasharray:445;}
    100% {stroke-dashoffset:0;}
}


/* footer */
footer {width:100%;height:100vh;position:relative;padding:0 260px;}
footer .subTitle {color:#fff;}
footer .subTitle p {font-size:30px;letter-spacing:-1px;padding-top:130px;}
footer .subTitle p .img {width:30px;height:30px;display:inline-block;}
footer .subTitle p .img img {width:100%;}
footer .textBox {margin-top:100px;color:#fff;}
footer .textBox p {font-size:80px;}
footer .textBox .email {margin-top:60px;margin-bottom:40px;}
footer .textBox .email span,
footer .textBox .tel span {font-size:20px;letter-spacing:-1px;}
footer .textBox .email p,
footer .textBox .tel p {font-size:40px;}
footer .textBox .copyright {font-size:18px;color:#ccc;margin-top:100px;}


/* goTop */
.goTop a.btn {width:50px;height:50px;position:fixed;bottom:70px;right:50px;border:1px solid #fff;border-radius:50%;}
.goTop a.btn svg {width:35%;margin:14px auto 0;display:block;}


/* responsive */

/* pc 1650px ~ 1301px */
@media screen and (max-width:1650px) {
    .visual .mainText {margin:80px 120px 100px;}
    header .logo {width:7%;}
    .visual .subText {margin-left:100px;}
    .visual .svgAni {top:31%;right:1%;}
    .about {padding:0 150px;}
    .about .top ul .right {font-size:18px;width:54%;}
    .about .top ul .right p {top:46%;}
    .about .bottom > span {font-size:20px;margin-right: 20px;}
    .about .bottom p {font-size:28px;}
    .about .bottom .profile li span {font-size:20px;}
    .history .timeline li span {font-size:18px;}
    .history .timeline li:nth-child(even) .timeImg {margin-left:0;}
    .history .timeline li span .mo {display:none;}
    .volunteer .photoList {padding-left:100px;}
    .skill {padding:0 100px;}
    .skill .skillSvg .skillTxt li span {margin-left:50px;font-size:16px;}
    .skill .skillSvg .skillTxt li:nth-child(even) {margin-left:22%;}
    .skill .skillSvg .skillTxt li:nth-child(odd) {width:33%;}
    .skill .skillSvg .skillTxt li p {font-size:30px;}
    .skill .skillSvg .skillTxt li p::after {width:330px;}
    .skill .skillSvg .skillTxt {top:8%;left:14%;}
    .skill .skillSvg .skillTxt li {margin-bottom:15%;}
}

/* 1300px ~ 1025px */
@media screen and (max-width:1300px) {
    .visual .mainText {margin: 100px 80px 100px;font-size:90px;}
    .visual .subText {margin-left:80px;font-size:30px;}
    .visual .svgAni {top:33%;right:0%;}
    header .logo {width:9%;}
    .about {padding:0 100px;}
    .about .top ul .right {width:55%;}
    .about .bottom > span {font-size:18px;margin-right:10px;}
    .about .bottom .profile li span {font-size:18px;}
    .history {padding:0 100px;}
    .history .dot.a {top:8.4%;}
    .history .dot.b {top:24%;}
    .history .dot.c {top:39.5%;}
    .history .dot.d {top:54.5%;}
    .history .dot.e {top:70%;}
    .history .dot.f {top:85.5%;}
    .volunteer .subTitle {padding-left:30px;}
    .volunteer .textBox {padding-left:30px;font-size:20px;}
    .volunteer .photoList {margin-top:200px;padding-left:30px;}
    .volunteer .photoList li:nth-child(even) {margin-top:300px;}
    .volunteer .photoList li .imgBox {width:90%;}
    .skill {padding:0 50px;}
    .skill .skillSvg li svg {width:30%;}
    .skill .skillSvg li:nth-child(4) svg {width:23%;}
    .skill .skillSvg li:nth-child(5) svg {width:26%;}
    .skill .skillSvg li:nth-child(6) svg {width:19.5%;}
    .skill .skillSvg .skillTxt li p {font-size:25px;}
    .skill .skillSvg .skillTxt {top:7%;left:12%;}
    .skill .skillSvg .skillTxt li span {margin-left:35px;font-size:14px;}
    .skill .skillSvg .skillTxt li {margin-bottom:14%;}
    .skill .skillSvg .skillTxt li:nth-child(3),
    .skill .skillSvg .skillTxt li:nth-child(4){margin-bottom:13%;}
    footer {padding:0 150px;}
    .menuOpen {width:35%;}
    .menuOpen .open {font-size:50px;}
}

/* 1024px ~ 801px */
@media screen and (max-width:1024px) {
    header .logo {width:11%;}
    .visual {height:90vh;}
    .visual .mainText {margin:120px 50px 100px;font-size:70px;}
    .visual .subText {margin-left:50px;font-size:25px;}
    .band {height:150px;margin:150px 0 100px;}
    .about {padding:0 50px;}
    .about .top ul .right {font-size:15px;}
    .about .bottom p {font-size:25px;}
    .about .bottom > span {font-size:16px;margin-bottom:30px;}
    .about .bottom .profile li span {font-size:16px;}
    .history {padding:0 50px;}
    .history .timeline li p {font-size:25px;}
    .history .now {bottom:-180px;}
    .history .now p {font-size:60px;}
    .history .dot::after {height:345px;}
    .history .timeline li .img img {width:40%;}
    .history .timeline li:nth-child(1) .img img {width:60%;}
    .history .timeline li:nth-child(3) .img img {width:60%;}
    .history .timeline li {margin-bottom:380px;}
    .history .timeline li:nth-child(even) {margin-top:50%;}
    .history .timeline li .timeImg img {width:95%;}
    .history .dot.a {top:9.4%;}
    .history .dot.b {top:24%;}
    .history .dot.c {top:39.3%;}
    .history .dot.d {top:53.9%;}
    .history .dot.e {top:69.5%;}
    .history .dot.f {top:84%;}
    .volunteer {padding:0 50px 200px;}
    .volunteer .textBox {font-size: 18px;}
    .volunteer .photo {font-size:150px;}
    .volunteer .photoList {margin-top:150px;}
    .volunteer .photoList li .imgBox {width:95%;}
    .volunteer .photoList li .txt h3 {font-size:25px;}
    .volunteer .photoList li .txt span {font-size:18px;}
    .volunteer .photoList li:nth-child(odd) {margin-bottom:380px;}
    .volunteer .photoList li:last-child {margin-bottom:0;}
    .skill {padding:0 10px;margin-bottom:100px;}
    .skill .subTitle {padding-left:10px;}
    .skill .skillSvg .skillTxt {width:90%;}
    .skill .skillSvg .skillTxt li p::after {width:250px;}
    .skill .skillSvg .skillTxt li p {font-size:20px;}
    .skill .skillSvg li:nth-child(even) svg {margin-left:20px;}
    .skill .skillSvg .skillTxt li:nth-child(even) {margin-left:24%;}
    .skill .skillSvg .skillTxt li {margin-bottom:17%;}
    .skill .skillSvg .skillTxt li:nth-child(3), .skill .skillSvg .skillTxt li:nth-child(4) {margin-bottom:15%;}
    .skill .skillSvg .skillTxt li span {font-size:12px;}
    .skill .skillSvg .skillTxt li:nth-child(odd) {width:35%;}
    .skill .skillSvg .skillTxt li:nth-child(even) {width:37%;}
    footer  {padding:0 100px;}
    .menuOpen {width:40%;}
    .menuOpen .open {font-size:45px;}

}

/* 800px ~ 501px */
@media screen and (max-width:800px) {
    header .logo {width:15%;} 
    .visual .mainText {margin: 50px  0px  20px 50px;font-size:55px;}
    .visual .svgAni {width:60%;top:60%;right:34%;transform:rotate(18deg);}
    .visual .subText {margin-left:50px;font-size: 22px;letter-spacing:-1px;}
    .about  {padding:0 20px;}
    .about .top ul {flex-wrap: wrap;}
    .about .top ul .left {width:70%;margin:0 auto 30px;}
    .about .top ul .right {width:80%;font-size:16px;text-align:justify;margin:0 auto 150px;}
    .about .top ul .right p .mo {display:none;}
    .about .top ul .right p span > .mo {display:block;}
    .about .bottom {width:80%;margin:0 auto;}
    .about .bottom .profile li:nth-child(odd) {width:100%;}
    .about .bottom .profile li:nth-child(even) {width:100%;}
    .history  {padding:0 20px;}
    .history .timeline li p {font-size:25px;margin-bottom:0;}
    .history .timeline li span {font-size:22px;}
    .history .line {display:none;}
    .history .timeline {flex-wrap:wrap;}
    .history .timeline li {width:100%;}
    .history .timeline li:nth-child(odd) {padding-right:0;text-align:left;}
    .history .timeline li {margin-bottom:100px;}
    .history .timeline li:nth-child(even) {padding-right:0;text-align:right;margin-top:0px;margin-bottom:100px;padding-left:0;}
    .history .timeline li:nth-child(1) .img {width:50%;margin-bottom:15px;}
    .history .timeline li:nth-child(3) .img {width:50%;margin-bottom:15px;}
    .history .timeline li .img {width:23%;margin-bottom:15px;}
    .history .timeline li:nth-child(even) .img {margin-left:auto;}
    .history .timeline li:nth-child(5) .img {width:22%;}
    .history .timeline li .img img {width:100%;}
    .history .timeline li:nth-child(odd) .textBox {margin-right:0;width:80%;margin:0 auto 0 0px;text-align:left;line-height:1.5;}
    .history .timeline li:nth-child(even) .textBox {margin-right:0;width:80%;margin:0 0 0 auto;text-align:right;line-height:1.5;}
    .history .timeline li:nth-child(odd) .timeImg {margin-right:0;}
    .volunteer {padding:0 20px;}
    .volunteer .photoList {flex-wrap:wrap;}
    .volunteer .photoList li {width:100%;}
    .volunteer .photoList li:nth-child(odd) {margin-bottom:100px;}
    .volunteer .photoList li:nth-child(even) {margin-top:0;margin-bottom:100px;}
    .volunteer .photo {font-size:100px;}
    .skill .skillSvg {flex-wrap:wrap;}
    .skill .skillSvg li {width:80%;}
    .skill .skillSvg li svg {width:45%;}
    .skill .skillSvg li:nth-child(even) svg {margin-left:0;}
    .skill .skillSvg .skillTxt {flex-wrap:wrap;width:85%;top:4%;}
    .skill .skillSvg .skillTxt li p {font-size:25px;}
    .skill .skillSvg .skillTxt li span {font-size:18px;}
    .skill .skillSvg .skillTxt li span .mo {display:none;}
    .skill .skillSvg .skillTxt li:nth-child(odd) {width:80%;margin-left:22%;}
    .skill .skillSvg .skillTxt li:nth-child(even) {width:80%;margin-left:22%;}
    .skill .skillSvg .skillTxt li:nth-child(1) {margin-bottom:42%;}
    .skill .skillSvg .skillTxt li:nth-child(2),
    .skill .skillSvg .skillTxt li:nth-child(3) {margin-bottom:37%;}
    .skill .skillSvg .skillTxt li:nth-child(4) {margin-bottom:45%;}
    .skill .skillSvg .skillTxt li:nth-child(5) {margin-bottom:35%;}
    .skill .skillSvg li:nth-child(4) svg {width:35.5%;}
    .skill .skillSvg li:nth-child(5) svg {width:38%;}
    .skill .skillSvg li:nth-child(6) svg {width:29%;}
    footer {padding:0 50px;}
    .menuOpen {width:50%;padding:250px 30px;}
    .menuOpen .open {font-size:40px;}

}

/* 500px~ */
@media screen and (max-width:500px) {
    .menuOpen {width:55%;}
    .menuOpen .open {font-size: 35px;}
    header .logo {width:18%;} 
    .visual {height:80vh;}
    .visual .mainText {margin: 50px  100px  20px;font-size:50px;}
    .visual .svgAni {width:60%;top:70%;right:26%;transform:rotate(18deg);}
    .visual .subText {margin-left:100px;font-size: 22px;letter-spacing:-1px;}
    .history .timeline li span {font-size:18px;}
    .history .now p {font-size:50px;}
    .volunteer .subTitle p {padding-top:0;}
    .volunteer .textBox{font-size:16px;text-align:justify;padding-left:0;}
    .volunteer .textBox .mo {display: none;}
    .volunteer .photoList{padding-left:0;}
    .volunteer .photoList li .imgBox {width:100%;}
    .skill .skillSvg .skillTxt li:nth-child(1) {margin-bottom:34%;}
    .skill .skillSvg .skillTxt li:nth-child(2),
    .skill .skillSvg .skillTxt li:nth-child(3) {margin-bottom:27%;}
    .skill .skillSvg .skillTxt li:nth-child(4) {margin-bottom:45%;}
    .skill .skillSvg .skillTxt li:nth-child(5) {margin-bottom:35%;}
    footer {padding:0 10px;}
    footer .textBox p {font-size:70px;}
    footer .textBox .email span, footer .textBox .tel span {font-size:15px;}
    footer .textBox .email p, footer .textBox .tel p {font-size:30px;}
    footer .textBox .copyright{font-size:15px;}
}